
.posts{

    display: flex;
    margin-top: 4vh;
    margin-left: 20vh;
    margin-right: 20vh;
    flex-direction: column;
    gap: 50px;
}

#postsProfile{
   min-width: 500px;
   align-items: center;
   .post{
        width: 70%;
        min-width: 500px;
       

   }
}