$width-collapsed: 50px;
$width: 300px;
:root {
  --width: 300px;
  --width-collapsed: 50px;
  --padding: 10px;
}
body{
    margin-left: $width-collapsed;
}
.bodyExpanded {
    margin-left: $width;
  }
#sidemenu {
    background-color: rgba(234, 238, 2, 0.5);
    z-index: 2;
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 1px 1px 4px  rgb(145, 145, 145);
    a {
      color: white;
      text-decoration: none;
    }
    #menuHeader {
      box-sizing: border-box;
      border-bottom: solid 1px white;
      #title {
        box-sizing: border-box;
        overflow: hidden;
      }
      #menu-btn {
        vertical-align: middle;
      }
      #menuBtn {
        margin-top: 12px;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        width: $width-collapsed;
        box-sizing: border-box;
  
        .btn-hamburger {
          background-color: rgb(0, 0, 0);
          width: 100%;
          height: 2px;
          margin: 5px 0;
        }
      }
    }
    #profile {
      
      padding: var(--padding) 0;
      text-align: center;
      #name {
        font-size: 24px;
        padding: 10px;
        overflow: hidden;
      }
      #photo {
        font-size: 24px;
        overflow: hidden;
        
        padding: var(--padding);
        margin: 0 auto;
        img {
          border-radius: 50%;

        }
      }
    }
    #menuItems {
      overflow: hidden;
      .separator {
        height: 20px;
        
      }
      .item {
       
        width: $width;
        box-shadow: 1px 1px 1px;
        .title {
          padding: 10px;
        }
        .icon {
          display: inline-block;
          
          
         
          width: $width-collapsed;
          img {
            width: 100%;
          }
        }
        .icon,
        .title {
          font-size: 14px;
          vertical-align: middle;
          overflow: hidden;
          display: inline-block;
        }
        a {
          display: block;
          &:hover {
            background-color: rgb(28, 23, 23);
          }
        }
      }
    }
  }
  .menuExpanded {
    width: $width;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    #menuHeader{
        #title{
            display: inline-block;
            width: calc(100% - 50px);
            margin-right: -5px;
            padding: 20px;
            span{
                width: calc(var(--width) - var(--width-collapsed) - 5px);
                overflow: hidden;
            }
        }
    }
    #profile{
        #photo{

            img{
            width: 150px;
            height: 7rem;
            }
  
        }
        #name{
            width: 100px;
        }
    }
  }
  
  

  .menuCollapsed {
    width: $width-collapsed;
    #profile{
        #photo{
            width: 2rem;
            img{
                height: 2rem;
                width: 100%;
            }
        }
        #name{
            display: none;
        }
    }
    #menuHeader{
        #title{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }
    }
    #item{
        width: 100px;
    }
  }


