.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login-from{
    grid-column: 1 / 2;
    grid-row: 1;
    box-sizing: border-box;

    position: absolute;
    margin-left: 60px;
    width: 400px;
    height: 300px;
    top: 150px;

    background: rgba(92, 225, 230, 0.22);
    border: 2px solid rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
}

.login-from form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
}

.login-from form input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 10px;
    padding: 10px 35px;
}

.login-from form button{
    background-color: #0071A2;
    color: #fff;
    border-radius: 16px;
    margin-top: 10px;
    padding: 10px 80px;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.login-from form button:hover{
    background-color: #fff;
    color: #0071A2;
    transition: all 0.5s ease-out;
}

.login-from .btn-login{
    margin-top: 75px;
}

.login-from .btn-login a{
    background-color: #0071A2;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 200px; 
    padding: 10px 25px;
    transition: 1s;
}

.login-from .btn-login a:hover{
    background-color: #fff;
    border: #000 solid 1px;
    color: #0071A2;
    transition: all 0.5s ease-out;
}


.login-img{
    grid-column: 2 / 2;
    grid-row: 1;
    justify-content: center;
}

.login-img img{
    animation: updown 3s linear infinite;
    -webkit-animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
}
    100% {
        transform: translateY(-20px);
    }
}

.login-img p{
    margin: 0 30px;
}

@media (max-width: 950px){
    .login-img{
        display: none;
    }
}

@media(max-width: 475px) {
    .login-from{
        margin-left: 10px;
    }
}

@media(max-width: 424px){
    .login-from{
        position: absolute;
        margin-left: 60px;
        width: 265px;
        height: 300px;
        top: 150px;
    
        background: rgba(92, 225, 230, 0.22);
        border: 2px solid rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(2px);
    }

    .login-from .btn-register a{
        background-color: #0071A2;
        text-decoration: none;
        color: #fff;
        border-radius: 16px;
        margin-top: 10px;
        margin-left: 75px; 
        
    }
    
}