*{
    margin: 0;
    padding: 0;
}

.active{
    background-color: rgb(4, 111, 88);
    height: 100%;
}

.active p{
    color: #fff;
}

.moving-img{

        grid-column: 2 / 2;
        grid-row: 1;
        justify-content: center;
    
}
.moving-img img{
    animation: updown 3s linear infinite;
    -webkit-animation: updown 3s linear infinite;
}

@media(max-width:937px){
    .moving-img{
        display: none;
    }
}