*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: -webkit-linear-gradient(#09789960, #0a0011);
}

.active{
    background-color: #02363ffb;

    height: 100%;
}

.active p{
    color: #fff;
}

.active h1{
    color: #fff;
}

.moving-img img{
    animation: updown 3s linear infinite;
    -webkit-animation: updown 3s linear infinite;
}

@media(max-width:937px){
    .moving-img{
        display: none;
    }
}

