.header{
    background-color: #3fcda9;
    height:100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .img-logo{

    width:120px;
    height:100px;
}
