.headerLogin{
    background-color: #03B915;
    box-shadow: 1px 1px 7px black;
    height:100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.headerLogin .img-logo{
    width:120px;
    height:100px;
}

.headerLogin .input{
    display: flex;

}

.headerLogin .search{
    position:absolute;
    margin-left: 20px;
    top:40px;
    font-size: 24px;
    opacity: 0.5;
}


.headerLogin .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
}

.headerLogin input{
    padding: 10px 35px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.headerLogin  input::placeholder{
    font-size: 12px;
    font-weight:500;
}

.headerLogin .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 30px;
    opacity: 0.5;
    
}

.headerLogin .icon svg{
    padding: 0 15px;
}

.headerLogin .headerUser{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.headerLogin .headerUser img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding-right: 5px;
}

.headerLogin .CiLogin{
    margin-right: 15px;
    font-size: 30px;
    opacity: 0.5;
}

.headerLogin .SearchBar button{
    padding: 10px;
    margin-left: 3px;
    background-color: #044d0b62;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (min-width: 867px) {
    .headerLogin .btnBurguer{
        margin-right: 10px;
        display: none;
    }

}

@media (max-width: 867px){
    .headerLogin .input {
        position: absolute;
        top:-700px;
        left: -2000px;
    }

    .headerLogin .links{
        position: absolute;
        top:-700px;
        left: -2000px;
    }

    .headerLogin .links.activar{
        width: 100%;
        display: block;
        padding: absolute;
        margin-left: 0;
        margin-right: 0;
        top: 80%;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
        /* background-color: #3fcda9; */
        background-color: rgba(3, 80, 67, 0.884);
        border-radius: 10% 0 0 100% ;
        -webkit-border-radius: 10% 0 0 100% ;
        -moz-border-radius: 10% 0 0 100% ;
        -ms-border-radius: 10% 0 0 100% ;
        -o-border-radius: 10% 0 0 100% ;
}

    .headerLogin .links.activar .darMode{
        grid-column: 4/ 4;
        grid-row: 1;
    }

    .headerLogin .links.activar .icon{
        grid-column: 4/ 4;
        grid-row: 2;
    }

    .headerLogin .links.activar .headerUser{
        grid-column: 1/ 4;
        grid-row: 1;
    }

    .headerLogin .links.activar .CiLogin{
        grid-column: 4/ 4;
        grid-row: 3;
    }
}
