.header{
    background-color: #045c0fd0;
    box-shadow: 1px 1px 7px black;
    height:100px;
    width: 100%;
    position: fixed;
    top: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-100%);
    
    
    
}

.header .img-logo{
    
    width:120px;
    height:100px;
} 


