.register{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 1100px;
}

.register .moving-img{

    grid-column: 2 / 2;
    grid-row: 2/2;
    justify-content: center;
    margin-bottom: 300px;

}
.register .moving-img{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.register-from{
    grid-column: 1 / 2;
    grid-row: 1;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    margin-left: 60px;
    width: 400px;
    height: max-content;
    padding: 20px;
    /* padding-bottom: 10px; */
    top: 150px;

    background: rgba(3, 185, 21, 0.22);
    border: 2px solid rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
}

.register-from form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-from form label{
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.register-from form input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 10px;
    padding: 10px 35px;
}

.register-from form input::placeholder{
    font-size: 10px;
    font-weight:700;
}

.register-from form button{
    background-color: #0071A2;
    color: #fff;
    border-radius: 16px;
    margin-top: 10px;
    padding: 10px 75px;
    cursor: pointer;
    transition: 1s;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.register-from form button:hover{
    background-color: #fff;
    color: #0071A2;
    transition: all 0.5s ease-out;
}


.register-from .btn-login{
    margin-top: 25px;
}

.register-from .btn-login a{
    background-color: #0071A2;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 200px; 
    padding: 10px 25px;
    transition: 1s;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.register-from .btn-login a:hover{
    background-color: #fff;
    border: #000 solid 1px;
    color: #0071A2;
    transition: all 0.5s ease-out;
}


@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
}
    100% {
        transform: translateY(-20px);
    }
}

.register-from p{
    margin: 0 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(87, 3, 3);
}

@media (max-width: 950px){
    .register-img{
        display: none;
    }
}

@media(max-width: 480px) {
    .register-from{
        margin-left: 10px;
    }
}

@media(max-width: 424px){
    .register-from{
        position: absolute;
        margin-left: 60px;
        width: 265px;
        height: 300px;
        top: 150px;
    
        background: rgba(92, 225, 230, 0.22);
        border: 2px solid rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(2px);
    }

    .register-from .btn-login{
        margin-top: 25px;
        margin-left: -100px;
    }

    .register-from .btn-login a{
        background-color: #0071A2;
        text-decoration: none;
        color: #fff;
        border-radius: 16px;
        margin-top: 10px;
        margin-left: 75px; 
        
    }
    
}